<% include layout %>
  <body ng-app="DoctorApp">
    <div ng-controller="mapCtrl">
      <button class="col-md-2 btn btn-success" ng-click="map.refresh()">Refresh Map</button>
      
      <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" events="map.events" control="map.control" styles="map.styles" options="{scrollwheel: false}">
      
      <markers models="map.markers" class="pins" coords="'self'" click="'onClick'" events="markersEvents" icon="icon">

        <windows show="'showWindow'" class="infoWindow" closeClick="'closeClick'" ng-cloak="" options="map.windowOptions" icon="icon">
          <div id="popup" style="padding:5px">
            <h4 ng-non-bindable>{{name}}</h4>
            <p>
              <img ng-if="icon !== null" ng-non-bindable src="{{icon}}"/>{{icon}}
            </p>
            <p>
              <strong>Address</strong><br>
             <strong><span ng-non-bindable>{{address}}</span></strong>
            </p>
            <p>
              <strong><a ng-non-bindable href="{{url}}">Go to The Yelp Site </a><strong>
            </p>
          </div>
        </windows>
      
      </markers>              
      
      </google-map>
      

       <button class="btn" ng-click="getBlueCrossDoctors()">Cross</button>
       <button class="btn" ng-click="getBlueShieldDoctors()">Shield</button>
       <button class="btn" ng-click="clearMap()">Get Rid of IT!</button>
    </div>
    <div ng-controller="mainCtrl">
        {{1+3}}
      <button class="btn" ng-click="getAllDoctors()">Click me</button>
      <div ng-repeat="doctor in doctors track by $index">
        {{doctor.latitude}}, - {{doctor.longitude}}
      </div>
    </div>

  </body>

</html>