<% include layout %>
  <body ng-app ="DoctorApp" class="page-homepage navigation-fixed-top map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
    <div class="wrapper">
      <div class="navigation">
        <div class="secondary-navigation">
          <div class="container">
            <div class="contact">
              <figure><strong>Questions?</strong></figure>
              <figure><strong>Email:</strong><a href="mailto:coveredSF@gmail.com">coveredSF@gmail.com</a></figure>
            </div>
          </div>
        </div>
        <div class="container">
          <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand nav" id="brand">
                Covered SF
              </div>
              <img ng-show="neverShow" src="http://www.joshuadpearson.com/images/covered-sf-3.png"/>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
              <ul class="nav navbar-nav">
                <li class="active has-child"><a href="">My Links</a>
                  <ul class="child-navigation">
                    <li><a href="https://github.com/Joshua-Pearson">My Github</a></li>
                    <li><a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn</a></li>
                    <li><a href="http://joshua-pearson.blogspot.com/">My Blog</a></li>
                    <li><a href="http://joshua-pearson.github.io/">My WebPage</a></li>
                  </ul>
                </li>
                <li><a href="">Submit</a></li>
                <li class="has-child"><a href="">Blog</a>
                  <ul class="child-navigation">
                    <li><a href="">Blog Listing</a></li>
                    <li><a href="">Blog Post Detail</a></li>
                  </ul>
                </li>
                <li><a href="">Contact</a></li>
              </ul>
            </nav><!-- /.navbar collapse-->
          </header><!-- /.navbar -->
        </div><!-- /.container -->
      </div>
    <div ng-controller="mapCtrl">
      <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" events="map.events" control="map.control" styles="map.styles" options="{scrollwheel: false}">
        <markers models="map.markers" class="marker-style" coords="'self'" click="'onClick'" events="markersEvents">
        </markers>
        <window show="map.currentMarker.showWindow" class="infobox-wrapper" closeClick="map.currentMarker.closeClick" coords="map.currentMarker" options="map.windowOptions">
          <div id="popup" style="padding:5px" class="infobox-inner">
            <h4><strong>{{map.currentMarker.name}}</strong></h4>
            <img ng-src="{{map.currentMarker.stars}}"/><br><br>
            <p>
              <strong>Address</strong><br>
              <span>{{map.currentMarker.address}}</span><br>
            </p>
            <p ng-if="map.currentMarker.phone !== null">
              <strong>Phone</strong><br>
              <span>{{map.currentMarker.phone}}</span><br><br>
            </p>
            <p ng-if="map.currentMarker.specialty !== null">
              <strong>Specialty</strong><br>
              <span>{{map.currentMarker.specialty}}</span><br><br>
            </p>
            <p>
              <strong><a ng-show="map.currentMarker.url.search('yelp') > -1" ng-href="{{map.currentMarker.url}}" target="_blank">Go to The Yelp Site </a><strong>
              <strong><a ng-hide="map.currentMarker.url.search('yelp') > -1" ng-href="{{map.currentMarker.url}}" target="_blank">No Yelp Reviews, Google Results</a><strong>
            </p>
          </div>
        </window>
      </google-map>
      <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="search-box map show-search-box">
<!--                           <h3 id="error" class="my-show-hide-animation" ng-show="tryAgain">You must select an insurance to search</h3>
 -->                            <form role="form" id="form-map" class="form-map form-search" name="doctorForm">
                                <h2>Search Doctors by Insurance</h2>
                                <div class="form-group">
                                  <select name="insurance" ng-hide="alreadySearched" ng-model="insurance" ng-options="insurance as insurance.display for insurance in insurances">
                                    <option value="" ng-hide="insurance"> Select Insurance (required)</option>
                                  </select>
                                </div><!-- /.form-group -->
                                <div class="form-group" ng-show="insurance">
                                  <select name="doctors" ng-model="doctor" ng-show="insurance" ng-hide="alreadySearched" ng-options="doctor as doctor.display for doctor in doctors">
                                    <option value="" ng-hide="doctor"> Doctor Search Options (optional)</option>
                                  </select>
                                </div><!-- /.form-group -->
                                <div class="form-group" ng-hide="alreadySearched || doctor.value == 2">
                                  <input type="text" class="form-control" class="form-control" id="search-box-doctor" ng-show="doctor" name="doctorOption" ng-model="doctor.text" placeholder="{{doctor.display}} of doctor (optional)">
                                </div>
                                <div class="form-group" ng-show="doctor.value == 2">
                                  <select name="specialtyOption" ng-hide="alreadySearched" ng-model="specialtyOption" ng-options="specialtyOption as specialtyOption.display for specialtyOption in specialtyOptions">
                                    <option value="" ng-hide="specialtyOption">Specialties</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-default" ng-click="getDoctors()" ng-hide="alreadySearched">Search</button>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                  <button class="btn btn-default" ng-click="clearMap()" ng-show="alreadySearched">Clear Map -- New Search</button>
                                </div>
                            </form><!-- /#form-map -->
                            <h2 id="results" class="my-show-hide-animation" ng-show="alreadySearched"><em>Showing </em><strong>{{limit}}</strong><em> of  </em><strong> {{map.markers.length}} </strong><em> results.</em></h2>
                            <h2 id="error" class="my-show-hide-animation" ng-show="tryAgain"><strong><em>Please select an insurance to search</em></strong></h2>
                            <ul>
                              <li ng-repeat="m in map.markers | limitTo:limit"><a ng-click="m.onClick()">{{m.name}}</a></li>
                            </ul>
                            <pagination total-items="totalItems" items-per-page="limit" ng-model="currentPage" ng-show="alreadySearched" ng-change="pageChanged()"></pagination>
                            <!--<pagination boundary-links="true" total-items="totalItems" items-per-page="limit" ng-model="currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>-->
                        </div><!-- /.search-box.map -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.search-box-inner -->
      </div><!-- .search-box-wrapper -->
    </div><!-- ng-mapCtrl -->
    <div ng-controller="mainCtrl">
      <div id="page-content">
        <section id="banner">
          <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
              <h1 class="no-bottom-margin no-border">Covered SF <a href="" class="text-underline">When you have to Know</a>!</h1>
            </div>
          </div>
        </section><!-- /#banner -->
        <section id="our-services" class="block">
          <div class="container">
            <header class="section-title"><h2>Here is what others have said</h2></header>
              <div class="row">
                  <div class="col-md-4 col-sm-4">
                      <div class="feature-box equal-height">
                          <figure class="icon"><i class="fa fa-folder"></i></figure>
                          <aside class="description">
                              <header><h3>Covered SF literally saved my life</h3></header>
                              <p>I really needed a doctor and I had just changed insurance plans. I'm glad I found this site.</p><br><br><br>
                              <p>- Suzy M.</p>
                              <!-- <a href="#" class="link-arrow">Read More</a> -->
                          </aside>
                      </div><!-- /.feature-box -->
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4 col-sm-4">
                      <div class="feature-box equal-height">
                          <figure class="icon"><i class="fa fa-users"></i></figure>
                          <aside class="description">
                              <header><h3>Way faster than calling my insurance provider</h3></header>
                              <p>I was on hold for hours just trying to figure out what doctor was in my new network. Then I found Covered SF.</p><br><br><p>- JP</p>
                              <!-- <a href="#" class="link-arrow">Read More</a> -->
                          </aside>
                      </div><!-- /.feature-box -->
                  </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-money"></i></figure>
                        <aside class="description">
                          <header><h3>This is the best thing since sliced bread!</h3></header>
                            <p>And it tastes better too. Also you don't have to worry about finding bread crumbs all over your shirt later...</p><br><br><p>- Michael M.</p>
                            <!-- <a href="#" class="link-arrow">Read More</a> -->
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          </section><!-- /#our-services -->
          <section id="aboutme" class="my-show-hide-animation" ng-hide="footer">
            <div class="container">
              <a href="">
                <div class="banner">
                  <div class="wrapper">
                    <span class="title">About Me</span>
                    <span class="submit" ng-click="showFooter()">Click to see more</span>
                  </div>
                </div><!-- /.banner-->
              </a>
            </div>
          </section>

          <footer id="page-footer">
            <div class="inner">
              <section id="footer-main" class="my-show-hide-animation" ng-show="footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <article>
                        <h3>About Me</h3>
                        <p>My name is Joshua Pearson and I'm passionate about web development. This was my final project before graduating from
                          <a href="http://www.generalassemb.ly">www.generalassemb.ly</a>. Please feel free to follow me on twitter 
                          <a href="http://www.twitter.com/joshuapears0n">www.twitter.com/joshuapears0n</a><br>
                          <a href="https://github.com/Joshua-Pearson">https://github.com/Joshua-Pearson</a>
                        </p>
                        <hr>
                      </article>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <article>
                        <h3>Contact</h3>
                          <address>
                            <strong>Joshua Pearson</strong><br><br>San Francisco, CA<br>
                          </address>
                          <ul class="list-unstyled list-links">
                            <li><a href="mailto:joshua.david.pearson@gmail.com">joshua.david.pearson@gmail.com</a>
                            <li><a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn Profile</a>
                          </ul>
                          <hr>
                      </article>
                    </div>
                    <!--TODO // IF I EVER ACTUALLY WANT TO HAVE THIS STUFF-->
                    <div class="col-md-2 col-sm-2 col-xs-2">
                      <article>
                        <h3>Useful Links</h3>
                          <ul class="list-unstyled list-links">
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Email a suggestion</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Terms and Conditions</a></li>
                          </ul>
                          <hr>
                      </article>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                      <span class="picture"><img src="http://i.imgur.com/bRHcbF5.jpg"/></span>
                    </div>
                  </div>
                </div>
              </section>
              <section id="footer-thumbnails" class="footer-thumbnails"></section><!-- /#footer-thumbnails -->
              <section id="footer-copyright">
                <div class="container">
                  <span>Copyright © 2014. All Rights Reserved.</span>
                  <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
              </section>
            </div><!-- /.inner -->
          </footer>
        </div><!-- #page-content -->
      </div><!-- ng-mainCtrl -->
  </body>
</html>