<% include layout %>
  <body ng-app="DoctorApp">
    <body class="page-homepage navigation-fixed-top map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
      <div class="wrapper">
        <div class="navigation">
          <div class="secondary-navigation">
            <div class="container">
              <div class="contact">
                <figure><strong>Questions?</strong></figure>
                <figure><strong>Email:</strong>DoctorSearch@gmail.com</figure>
              </div>
            </div>
          </div>
          <div class="container">
            <header class="navbar" id="top" role="banner">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand nav" id="brand">
                  DoctorSearch
                </div>
              </div>
              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                  <li class="active has-child"><a href="#">My Links</a>
                    <ul class="child-navigation">
                      <li><a href="https://github.com/Joshua-Pearson">My Github</a></li>
                      <li><a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn</a></li>
                      <li><a href="http://joshua-pearson.blogspot.com/">My Blog</a></li>
                      <li><a href="http://www.linkedin.com/in/joshuapears0n">My WebPage</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Submit</a></li>
                  <li class="has-child"><a href="#">Blog</a>
                    <ul class="child-navigation">
                      <li><a href="#">Blog Listing</a></li>
                      <li><a href="#">Blog Post Detail</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav><!-- /.navbar collapse-->
            </header><!-- /.navbar -->
          </div><!-- /.container -->
      </div>
      <div ng-controller="mapCtrl">
          <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" events="map.events" control="map.control" styles="map.styles" options="{scrollwheel: false}">
          
            <markers models="map.markers" class="pins" coords="'self'" click="'onClick'" events="markersEvents">

              <windows show="'showWindow'" class="infoWindow" closeClick="'closeClick'" ng-cloak="" options="map.windowOptions" icon="icon">
                <div id="popup" style="padding:5px">
                  <h4 ng-non-bindable>{{name}}</h4>
                  <p>
                    <img ng-if="icon !== null" ng-non-bindable src="{{icon}}"/>{{icon}}
                  </p>
                  <p>
                    <strong>Address</strong><br>
                   <strong><span ng-non-bindable>{{address}}</span></strong>
                  </p>
                  <p>
                    <strong><a ng-non-bindable href="{{url}}">Go to The Yelp Site </a><strong>
                  </p>
                </div>
              </windows>
            </markers>              
          </google-map>
        <div class="search-box-wrapper">
          <div class="search-box-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-4">
                          <div class="show-search-box">
                              <form role="form" id="form-map" class="form-map form-search">
                                  <h2>Search for a Doctor</h2>
                                  <div class="form-group">
<!--                                       <input type="text" class="form-control" id="search-box-property-id" placeholder="name of Doctor"> -->
                                  </div>
                                  <div class="form-group">
          <!--                             <select name="type"> -->
                                          <option value="">Insurance</option>
                                          <button class="btn" ng-click="getBlueCrossDoctors()">Blue Cross</button><br>
                                          <button class="btn" ng-click="getBlueShieldDoctors()">Blue Shield</button><br>
                                           <button class="btn" ng-click="getKaiserDoctors()">Kaiser</button><br>
                                          <button class="btn" ng-click="getCchpDoctors()">CCHP</button><br>
                                <!--       </select> -->
                                  </div><!-- /.form-group -->
                                  <div class="form-group">
                                      <button type="submit" class="btn btn-default" ng-click="clearMap()">New Search</button>
                                  </div><!-- /.form-group -->
                              </form><!-- /#form-map -->
                          </div><!-- /.search-box.map -->
                      </div><!-- /.col-md-3 -->
                  </div><!-- /.row -->
              </div><!-- /.container -->
          </div><!-- /.search-box-inner -->
      </div>
      <div ng-controller="mainCtrl">
        <div id="page-content">
          <section id="banner">
            <div class="block has-dark-background background-color-default-darker center text-banner">
                <div class="container">
                    <h1 class="no-bottom-margin no-border">DoctorSearch <a href="#" class="text-underline">When you have to Know</a>!</h1>
                </div>
            </div>
        </section><!-- /#banner -->
        <section id="our-services" class="block">
            <div class="container">
                <header class="section-title"><h2>Here is what others have said</h2></header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-folder"></i></figure>
                            <aside class="description">
                                <header><h3>Doctor Search saved my life</h3></header>
                                <p>I really need a doctor and I had just changed insurance plans. I'm glad I found this site.</p><br><br><br>
                                <p>- Suzy M.</p>
                                <a href="#" class="link-arrow">Read More</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-users"></i></figure>
                            <aside class="description">
                                <header><h3>Way faster than calling my insurance provider</h3></header>
                                <p>I was hold on hours just trying to figure out what doctor was in my new network. Then I found DoctorSearch.</p><br><br><p>- JP</p>
                                <a href="#" class="link-arrow">Read More</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-money"></i></figure>
                            <aside class="description">
                                <header><h3>This is the best thing since sliced bread!</h3></header>
                                <p>And it tastes better too. Also you don't have to worry about finding bread crumbs all over your shirt later...</p><br><br><p>- Michael M.</p>
                                <a href="#" class="link-arrow">Read More</a>
                            </aside>
                        </div><!-- /.feature-box -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /#our-services -->
        <section id="advertising" class="block">
            <div class="container">
                <a href="#">
                    <div class="banner">
                        <div class="wrapper">
                            <span class="title">Do you like this site? Want to improve it?</span>
                            <span class="submit">Submit suggestions here <i class="fa fa-plus-square"></i></span>
                        </div>
                    </div><!-- /.banner-->
                </a>
            </div>
        </section><!-- /#adveritsing-->
    </div>      
  </div>

    <footer ng-hide="showFooter()"id="page-footer">
        <div class="inner">
            <section id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xl-4">
                            <article>
                                <h3>About Me</h3>
                                <p>My name is Joshua Pearson and I'm an aspiring web developer. This was my final project before graduating from
                                    <a href="http://www.generalassemb.ly">www.generalassemb.ly</a>. Please feel free to follow me on twitter 
                                    <a href="http://www.twitter.com/joshuapears0n">www.twitter.com/joshuapears0n</a><br>
                                    <a href="https://github.com/Joshua-Pearson">https://github.com/Joshua-Pearson</a>
                                </p>
                                <hr>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Joshua Pearson</strong><br>
                                    San Francisco, CA<br>
                                </address>
                                <a>joshua.david.pearson@gmail.com</a><br>
                                <a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn Profile</a>
                                <hr>
                            </article>
                        </div>
                        <!--TODO // IF I EVER ACTUALLY WANT TO HAVE THIS STUFF-->
                         <div class="col-md-4 col-sm-4">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="#">All Properties</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Login and Register Account</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <section id="footer-thumbnails" class="footer-thumbnails"></section><!-- /#footer-thumbnails -->
            <section id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2014. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </section>
        </div><!-- /.inner -->
      </footer>
    </div>
  </body>

</html>