<% include layout %>
  <body ng-app ="DoctorApp" class="page-homepage navigation-fixed-top map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
    <div class="wrapper">
      <div class="navigation">
        <div class="secondary-navigation">
          <div class="container">
            <div class="contact">
              <figure><strong>Questions?</strong></figure>
              <figure><strong>Email:</strong><a href="mailto:coveredSF@gmail.com">coveredSF@gmail.com</a></figure>
            </div>
          </div>
        </div>
        <div class="container">
          <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand nav" id="brand">
                Covered SF
              </div>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
              <ul class="nav navbar-nav">
                <li class="active has-child"><a href="#">My Links</a>
                  <ul class="child-navigation">
                    <li><a href="https://github.com/Joshua-Pearson">My Github</a></li>
                    <li><a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn</a></li>
                    <li><a href="http://joshua-pearson.blogspot.com/">My Blog</a></li>
                    <li><a href="http://www.linkedin.com/in/joshuapears0n">My WebPage</a></li>
                  </ul>
                </li>
                <li><a href="">Submit</a></li>
                <li class="has-child"><a href="">Blog</a>
                  <ul class="child-navigation">
                    <li><a href="">Blog Listing</a></li>
                    <li><a href="">Blog Post Detail</a></li>
                  </ul>
                </li>
                <li><a href="">Contact</a></li>
              </ul>
            </nav><!-- /.navbar collapse-->
          </header><!-- /.navbar -->
        </div><!-- /.container -->
      </div>
    <div ng-controller="mapCtrl">
      <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" events="map.events" control="map.control" styles="map.styles" options="{scrollwheel: false}">
        <markers models="map.markers" class="pins" coords="'self'" click="'onClick'" events="markersEvents" icon="'icon'">
          <windows show="'showWindow'" class="infoWindow" closeClick="'closeClick'" options="map.windowOptions">
            <div id="popup" style="padding:5px">
              <h4 ng-non-bindable>{{name}}</h4>
              <p>
              {{icon}}
              </p>
              <p>
              <strong>Address</strong><br>
              <strong><span ng-non-bindable>{{address}}</span></strong>
              </p>
              <p>
              <strong><a ng-non-bindable href="{{url}}">Go to The Yelp Site </a><strong>
              </p>
            </div>
          </windows>
        </markers>              
      </google-map>
      <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="show-search-box">
                            <form role="form" id="form-map" class="form-map form-search" name="doctorForm">
                                <h2>Search Doctors by Insurance</h2>
<!--                                 <div class="form-group">
                                  <input type="text" class="form-control" ng-show="doctor" id="doctorname" name="doctorName" ng-model="doctor.name" placeholder="{{doctor.display}} of doctor (optional)">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="doctorspecialty" name="doctorSpecialty" ng-model="doctor.specialty" placeholder="doctor specialty (optional)">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control" id="doctormedgroup" name="doctorMedGroup" ng-model="doctor.medical_group" placeholder="medical group of doctor (optional)">
                                </div> -->
                                <div class="form-group">
                                  <select name="insurance" ng-hide="alreadySearched" ng-model="insurance" ng-options="insurance as insurance.display for insurance in insurances">
                                    <option value="" ng-hide="insurance"> Select Insurance (required)</option>
                                  </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                  <select name="doctors" ng-model="doctor" ng-show="insurance" ng-hide="alreadySearched" ng-options="doctor as doctor.display for doctor in doctors">
                                    <option value="" ng-hide="doctor"> Doctor Search Options (optional)</option>
                                  </select>
                                </div><!-- /.form-group -->
                                <div class="form-group" ng-hide="alreadySearched">
                                  <input type="text" class="form-control" ng-show="doctor" id="doctorname" name="doctorOption" ng-model="doctor.text" placeholder="{{doctor.display}} of doctor (optional)">
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-default" ng-click="getDoctors()" ng-hide="alreadySearched">Search</button>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                  <button class="btn btn-default" ng-click="clearMap()" ng-show="alreadySearched">Clear Map -- New Search</button>
                                </div>
                            </form><!-- /#form-map -->
                        </div><!-- /.search-box.map -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.search-box-inner -->
      </div>
    </div>
    <div ng-controller="mainCtrl">
      <div id="page-content">
        <section id="banner">
          <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
              <h1 class="no-bottom-margin no-border">Covered SF <a href="" class="text-underline">When you have to Know</a>!</h1>
            </div>
          </div>
        </section><!-- /#banner -->
        <section id="our-services" class="block">
          <div class="container">
            <header class="section-title"><h2>Here is what others have said</h2></header>
              <div class="row">
                  <div class="col-md-4 col-sm-4">
                      <div class="feature-box equal-height">
                          <figure class="icon"><i class="fa fa-folder"></i></figure>
                          <aside class="description">
                              <header><h3>Covered SF literally saved my life</h3></header>
                              <p>I really needed a doctor and I had just changed insurance plans. I'm glad I found this site.</p><br><br><br>
                              <p>- Suzy M.</p>
                              <a href="#" class="link-arrow">Read More</a>
                          </aside>
                      </div><!-- /.feature-box -->
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4 col-sm-4">
                      <div class="feature-box equal-height">
                          <figure class="icon"><i class="fa fa-users"></i></figure>
                          <aside class="description">
                              <header><h3>Way faster than calling my insurance provider</h3></header>
                              <p>I was on hold for hours just trying to figure out what doctor was in my new network. Then I found Covered SF.</p><br><br><p>- JP</p>
                              <a href="#" class="link-arrow">Read More</a>
                          </aside>
                      </div><!-- /.feature-box -->
                  </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-money"></i></figure>
                        <aside class="description">
                          <header><h3>This is the best thing since sliced bread!</h3></header>
                            <p>And it tastes better too. Also you don't have to worry about finding bread crumbs all over your shirt later...</p><br><br><p>- Michael M.</p>
                            <a href="#" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          </section><!-- /#our-services -->
          <section id="advertising" class="block" ng-hide="footer">
            <div class="container">
              <a href="">
                <div class="banner">
                  <div class="wrapper">
                    <span class="title">About Me</span>
                    <span class="submit" ng-click="showFooter()" ng-hide="footer">Click to see more</span>
                    <span class="picture" ng-show="footer"><img src="http://i.imgur.com/bRHcbF5.jpg"/></span>
                  </div>
                </div><!-- /.banner-->
              </a>
            </div>
          </section>

          <footer id="page-footer" ng-show="footer">
            <div class="inner">
              <section id="footer-main">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <article>
                        <h3>About Me</h3>
                        <p>My name is Joshua Pearson and I'm passionate about web development. This was my final project before graduating from
                          <a href="http://www.generalassemb.ly">www.generalassemb.ly</a>. Please feel free to follow me on twitter 
                          <a href="http://www.twitter.com/joshuapears0n">www.twitter.com/joshuapears0n</a><br>
                          <a href="https://github.com/Joshua-Pearson">https://github.com/Joshua-Pearson</a>
                        </p>
                        <hr>
                      </article>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <article>
                        <h3>Contact</h3>
                          <address>
                            <strong>Joshua Pearson</strong><br>San Francisco, CA<br>
                          </address>
                          <a href="mailto:joshua.david.pearson@gmail.com">joshua.david.pearson@gmail.com</a><br><br>
                          <a href="http://www.linkedin.com/in/joshuapears0n">My LinkedIn Profile</a><br>
                          <hr>
                      </article>
                    </div>
                    <!--TODO // IF I EVER ACTUALLY WANT TO HAVE THIS STUFF-->
                    <div class="col-md-2 col-sm-2">
                      <article>
                        <h3>Useful Links</h3>
                          <ul class="list-unstyled list-links">
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Email a suggestion</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Terms and Conditions</a></li>
                          </ul>
                          <hr>
                      </article>
                    </div>
                    <div class="col-md-2 col-sm-2">
                      <span class="picture"><img src="http://i.imgur.com/bRHcbF5.jpg"/></span>
                    </div>
                  </div>
                </div>
              </section>
              <section id="footer-thumbnails" class="footer-thumbnails"></section><!-- /#footer-thumbnails -->
              <section id="footer-copyright">
                <div class="container">
                  <span>Copyright © 2014. All Rights Reserved.</span>
                  <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
              </section>
            </div><!-- /.inner -->
          </footer>
        </div>
      </div>
  </body>
</html>