<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="en">
    <head>
      <title>Covered-SF</title>
      <meta property="og:title" content="Covered SF"/>
      <meta property="og:type" content="health"/>
      <meta property="og:url" content="http://www.covered-sf.com"/>
      <meta property="og:image" content="public/images/covered-sf-yikes.jpg"/>
      <script type="text/javascript" src="public/javascripts/vendor/angular.min.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript" src="public/javascripts/vendor/lodash.underscore.min.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/angular-google-maps.min.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/angular-resource.min.js"></script>
      <script type="text/javascript" src="public/javascripts/mainapp.js"></script>
      <script type="text/javascript" src="public/javascripts/main_controller.js"></script>
      <script type="text/javascript" src="public/javascripts/maps_controller.js"></script>
      <link rel="stylesheet" type="text/css"href="public/stylesheets/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css"href="public/stylesheets/style.css"/>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
      <script type="text/javascript" src="public/javascripts/vendor/ui-bootstrap-tpls-0.9.0.min.js"></script>
    </head>
